work_queue:
  host: "{{ bespin_settings.rabbit.host }}"
  username: "{{ bespin_settings.rabbit.username }}"
  password: "{{ bespin_settings.rabbit.password }}"
  listen_queue: "{{ bespin_settings.rabbit.listen_queue }}"
  worker_username: "{{ bespin_settings.rabbit.worker_username }}"
  worker_password: "{{ bespin_settings.rabbit.worker_password }}"
cloud_settings:
  auth_url: "{{ bespin_settings.lando.auth_url }}"
  username: "{{ bespin_settings.lando.username }}"
  password: "{{ bespin_settings.lando.password }}"
  user_domain_name: "{{ bespin_settings.lando.user_domain_name }}"
  project_domain_name: "{{ bespin_settings.lando.project_domain_name }}"
bespin_api:
  url: "{{ bespin_settings.web.url }}"
  token: "{{ bespin_settings.web.lando_token }}"
log_level: "{{ bespin_settings.lando.log_level}}"
commands:
  stage_data_command: {{ bespin_settings.lando.stage_data_command | to_json }}
  organize_output_command: {{ bespin_settings.lando.organize_output_command | to_json }}
  save_output_command: {{ bespin_settings.lando.save_output_command | to_json }}
