<!DOCTYPE html>
<html>
<head>
<title>Webhook Proxy</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Webhook Proxy Server</h1>
</body>
</html>
