Protocol 2
SyslogFacility AUTHPRIV
PermitRootLogin without-password
PasswordAuthentication yes

# Change to no to disable s/key passwords
ChallengeResponseAuthentication no
ChallengeResponseAuthentication no

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes

UsePAM yes

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding no
PermitUserEnvironment yes

# no default banner path
Banner /etc/issue.net

# override default of no subsystems
Subsystem	sftp	/usr/libexec/openssh/sftp-server

AllowGroups root administrators gcbdeploy
