{
  "listenOn": {
    "host": "0.0.0.0",
    "port": 443,
    "key": "{{ bespin_settings.job_watcher.ssl_dir }}/server.key",
    "cert": "{{ bespin_settings.job_watcher.ssl_dir }}/server.crt"
  },
  "rabbit": {
    "protocol": "amqp",
    "exchange": "job_status",
    "user": "{{ bespin_settings.rabbit.username }}",
    "password": "{{ bespin_settings.rabbit.password }}",
    "host": "bespin-rabbit",
    "port": 5672
  },
  "bespinapi": {
    "url": "{{ bespin_settings.web.url }}"
  }
}
